<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>&raquo; MDI. Marketing Data Intelligence.  A Real Time Consumer Data Appending API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    {% block style %}{% endblock %}
</head>
    <body>
        <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <i class="fa fa-angle-double-right" style="color:#375A7F;"></i>
                    <span style="color:#375A7F;">MDI</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('markets') }}">Markets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('appending') }}">Data Sets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('pricing') }}">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('status') }}">Status</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('api_docs') }}">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}"><i class="fa fa-lock"></i> Login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- begin: container -->
        <div class="container">

            {% block body %}{% endblock %}

            {% block footer %}{% endblock %}

        </div>

        <!-- begin: scripts -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    </body>
</html>
